# Music Sales across Decades

- <a href="https://raw.githubusercontent.com/sandeepmj/datasets/main/1967_hits.csv">Most sold LPs</a> in 1967.
- <a href="https://raw.githubusercontent.com/sandeepmj/datasets/main/most-streamed-2023.csv">Most streamed albums</a> in 2023.

Which albums stood out (AS IN THE BIGGEST)in terms of sales?

In [3]:
## import libraries and packages
import pandas as pd

## mad math functions package
from scipy.stats import zscore 

## run the display code here
pd.options.display.float_format = '{:,.2f}'.format

In [4]:
lps= pd.read_csv ("https://raw.githubusercontent.com/sandeepmj/datasets/main/1967_hits.csv")
lps.head (10)

             artist                                  album     sales  year
0       THE BEATLES  SGT. PEPPER'S LONELY HEARTS CLUB BAND  32000000  1967
1         THE DOORS                              THE DOORS  20000000  1967
2       PATSY CLINE                          GREATEST HITS  10000000  1967
3       THE BEATLES                   MAGICAL MYSTERY TOUR   7032199  1967
4         BOB DYLAN              BOB DYLAN'S GREATEST HITS   6525000  1967
5      JIMI HENDRIX                    ARE YOU EXPERIENCED   5125000  1967
6  BARBRA STREISAND                      A CHRISTMAS ALBUM   5035000  1967
7       THE MONKEES                    MORE OF THE MONKEES   5012400  1967
8     ELVIS PRESLEY                     HOW GREAT THOU ART   3001070  1967
9       JOHNNY CASH                          GREATEST HITS   2100000  1967

In [32]:
from scipy.stats import zscore

In [34]:
lps ["sales_zscore"]= zscore (lps ["sales"])
lps

,artist,album,sales,year,sales_zscore
0,THE BEATLES,SGT. PEPPER'S LONELY HEARTS CLUB BAND,32000000,1967,7.90
1,THE DOORS,THE DOORS,20000000,1967,4.80
2,PATSY CLINE,GREATEST HITS,10000000,1967,2.22
3,THE BEATLES,MAGICAL MYSTERY TOUR,7032199,1967,1.45
4,BOB DYLAN,BOB DYLAN'S GREATEST HITS,6525000,1967,1.32
...,...,...,...,...,...
98,THE VENTURES,POPS IN JAPAN,20740,1967,-0.36
99,FRANÇOISE HARDY,MA JEUNESSE FOUT LE CAMP,16580,1967,-0.36
100,PAUL MAURIAT,WORLD TOP HITS,5160,1967,-0.36
101,LEIKHÓPURINN DÝRIN Í HÁLSASKÓGI,DÝRIN Í HÁLSASKÓGI,4543,1967,-0.36
102,SLY & THE FAMILY STONE,A WHOLE NEW THING,1058,1967,-0.36

In [62]:
largest_lps_z_score = largest_dfs_z_score = lps.sort_values(by='sales_zscore', ascending=False).iloc[0]
largest_lps_z_score

artist                                    THE BEATLES
album           SGT. PEPPER'S LONELY HEARTS CLUB BAND
sales                                        32000000
year                                             1967
sales_zscore                                     7.90
Name: 0, dtype: object

In [68]:
album_with_highestzscore= "SGT. PEPPER'S LONELY HEARTS CLUB BAND"

In [35]:
dfs= pd.read_csv ("https://raw.githubusercontent.com/sandeepmj/datasets/main/most-streamed-2023.csv")
dfs.head (10)

                                           album  streams_2023
0                     Manana Sera Bonito Karol G    5130293275
1              One Thing At A Time Morgan Wallen    4380347931
2                             Genesis Peso Pluma    3936960850
3                                   Drive Tiesto    3876226367
4                                  Meduza Meduza    3383108898
5  Nadie Sabe Lo Que Va A Pasar Manana Bad Bunny    3341708923
6           1989 (Taylor's Version) Taylor Swift    3264335874
7                            Utopia Travis Scott    3233444832
8                Another Friday Night Joel Corry    3064605147
9                     El Comienzo Grupo Frontera    3054665040

In [36]:
conversion_rate = 1500

In [52]:
dfs['album_sales'] = dfs['streams_2023'] //conversion_rate

In [53]:
print (dfs)

                                album  streams_2023  album_sales
0          Manana Sera Bonito Karol G    5130293275      3420195
1   One Thing At A Time Morgan Wallen    4380347931      2920231
2                  Genesis Peso Pluma    3936960850      2624640
3                        Drive Tiesto    3876226367      2584150
4                       Meduza Meduza    3383108898      2255405
..                                ...           ...          ...
95            Cracker Island Gorillaz     662551227       441700
96                       Senaryo Adie     661023457       440682
97             Dark Side Justine Skye     657963327       438642
98                     Trustfall P!nk     654976412       436650
99       Alone In A Crowd Oliver Tree     651784706       434523

[100 rows x 3 columns]

In [56]:
dfs["sales_zscore"]= zscore (dfs ["album_sales"])
dfs

                                album  streams_2023  album_sales  sales_zscore
0          Manana Sera Bonito Karol G    5130293275      3420195          3.96
1   One Thing At A Time Morgan Wallen    4380347931      2920231          3.15
2                  Genesis Peso Pluma    3936960850      2624640          2.67
3                        Drive Tiesto    3876226367      2584150          2.60
4                       Meduza Meduza    3383108898      2255405          2.07
..                                ...           ...          ...           ...
95            Cracker Island Gorillaz     662551227       441700         -0.88
96                       Senaryo Adie     661023457       440682         -0.88
97             Dark Side Justine Skye     657963327       438642         -0.89
98                     Trustfall P!nk     654976412       436650         -0.89
99       Alone In A Crowd Oliver Tree     651784706       434523         -0.89

[100 rows x 4 columns]

In [59]:
largest_dfs_z_score = dfs.sort_values(by='sales_zscore', ascending=False).iloc[0]
largest_dfs_z_score

album           Manana Sera Bonito Karol G
streams_2023                    5130293275
album_sales                        3420195
sales_zscore                          3.96
Name: 0, dtype: object

In [69]:
f"The album that stood out the most in their respective years is the {album_with_highestzscore} by the Beatles in 1967"

"The album that stood out the most in their respective years is the SGT. PEPPER'S LONELY HEARTS CLUB BAND by the Beatles in 1967"